.bubble{
	position:relative;
}
.bubble .label{
	color:#ffffff;
	background-color:#66aa11;
	border-radius:5px;
	padding:10px;
}
.bubble .tail{
	left:50%;
	margin-left:-18px;
	border-right :18px solid transparent;
	border-top:18px solid #66aa11;
	border-left : 18px solid transparent;
	position:absolute;
	bottom:-18px;
	width:0; height:0;
}